<div class="ui cards">
    <% @board.lists.each do |list|%>
        <div class="ui card" >
            <div class="content">
                <div class="header"><%= list.name %></div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Priority: <%= list.priority %></h4>
            </div>
            <div class="content">
                <div class=" ui check list">
                    <% list.todos.each do |todo| %>
                        <% if todo.complete? %>
                            <div class="item"><del> <%= todo.desc %> </del></div>
                        <% else %>
                            <div class="item"> <%= link_to todo.desc, edit_list_todo_path(list, todo) %> </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="extra content">
                <div class="ui three buttons">
                    <%= button_to "New Task", new_list_todo_path(list), method: :get, class: "ui mini button green inverted"	 %>
                    <%= button_to "Edit List", edit_board_list_path(@board, list), method: :get, class: "ui button blue inverted" %>
                    <%= button_to 'Remove', [@board, list], method: :delete, class: "ui button red inverted" %>
                </div>
            </div>
        </div>
    <% end %>
</div>


<div class="ui three buttons" id="more-options">
    <%= button_to 'New list', new_board_list_path(@board), method: :get, class: "ui button primary inverted" %>
    <%= button_to 'Rename Board', edit_board_path(@board), method: :get, class: "ui button green inverted" %>
    <%= button_to 'Delete Board', board_path(@board), method: :delete, class: "ui button red inverted" %>
</div>
